// Grey
$gray-105: #fafafa;
$gray-110: #f4f5f5;
$gray-115: #edeeee;
$gray-130: #dfe2e2;
$gray-150: #ced1d4;
$gray-200: #b1b6be;
$gray-300: #8f94a3;
$gray-500: #6a7081;
$gray-700: #535865;
$gray-950: #41454e;
$gray-1200: #2f3337;
$gray-1600: #1f1f23;

// Blue
$blue-105: #f6fafe;
$blue-110: #eaf6ff;
$blue-115: #e3f1fc;
$blue-130: #c8e4f9;
$blue-150: #aed6f9;
$blue-200: #7abcf5;
$blue-300: #3298f1;
$blue-500: #0e71c8;
$blue-700: #0b599d;
$blue-950: #09467b;
$blue-1200: #07365f;
$blue-1600: #062432;

// Green
$green-105: #f2fdf8;
$green-110: #dffbef;
$green-115: #cff7e4;
$green-130: #aaeed6;
$green-150: #80e5c0;
$green-200: #2acf93;
$green-300: #22a575;
$green-500: #1a7f5a;
$green-700: #146145;
$green-950: #0f4d36;
$green-1200: #0b3c2a;
$green-1600: #052418;

// Purple
$purple-105: #f9f7fd;
$purple-110: #f6f2ff;
$purple-115: #f6edfd;
$purple-130: #ecdbfa;
$purple-150: #dfc7f5;
$purple-200: #cca6ed;
$purple-300: #b37ce4;
$purple-500: #9649da;
$purple-700: #7a29c2;
$purple-950: #62219c;
$purple-1200: #4d1a7a;
$purple-1600: #300f4d;

// Yellow
$yellow-105: #fefaec;
$yellow-110: #fff4cc;
$yellow-115: #feefb9;
$yellow-130: #fee071;
$yellow-150: #fecd1b;
$yellow-200: #dfaf01;
$yellow-300: #b78f01;
$yellow-500: #896b01;
$yellow-700: #6a5301;
$yellow-950: #564301;
$yellow-1200: #413201;
$yellow-1600: #281f01;

// Red
$red-105: #fdf7f7;
$red-110: #fff1f1;
$red-115: #fdeded;
$red-130: #fbdada;
$red-150: #f9c5c3;
$red-200: #f8a09b;
$red-300: #ef6861;
$red-500: #da1f16;
$red-700: #b01911;
$red-950: #8b140e;
$red-1200: #6d0e09;
$red-1600: #460806;
