@use "../../../app.component.scss" as *;

table {
    width: 95%;
    table-layout: fixed;
    font-size: 14px;
    margin: tu-gutter(0.5);
    margin-bottom: tu-gutter(1);
}

td,
th {
    padding: tu-gutter(0.5);
    font-weight: normal;
}

input {
    width: -webkit-fill-available;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: $blue-105;
}

thead {
    background-color: $gray-115;
}

tbody {
    background-color: $blue-105;
}

.error {
    border-bottom: 1px solid $red-500;
}
